services:
  sicier-bd:
    image: postgres
    environment:
      - POSTGRES_USER=postgresicier
      - POSTGRES_PASSWORD=s1Ci3rbd
      - POSTGRES_DB=sicier
    networks:
      - sicier_net

  sicier-app:
    image: j3ffer/sicier
    ports:
      - "8080:8080"
    environment:
      - DATASOURCE_USERNAME=postgresicier
      - DATASOURCE_PASSWORD=s1Ci3rbd
      - DATASOURCE_URL=jdbc:postgresql://sicier-bd:5432/sicier
      - SPRING_PROFILES_ACTIVE=prod
      - JWT_PRIVATE_KEY=59a133e84ff855a20651266f97be4c6c3d263d9201ac5fd73010095a95810e4e
    depends_on:
      - sicier-bd
    networks:
      - sicier_net

networks:
  sicier_net: